<section>
  <!-- BACK CONTROL -->
  <div class="m-4 text-pink-600 cursor-pointer">
    <svg
      id="commit-details-back"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-12 h-12"
      title="Back"
      role="button"
      aria-label="Back"
      (click)="handleBackClick()"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M11.25 9l-3 3m0 0l3 3m-3-3h7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
  </div>

  <!-- DATA CARD -->
  <div class="mx-16 bg-white overflow-hidden">
    <!-- USER INFO -->
    <div class="px-4 py-5 sm:px-6 bg-gray-800 rounded-tl-lg rounded-tr-lg">
      <h3
        id="commit-details-name"
        class="text-lg font-medium leading-6 text-white"
      >
        {{ selectedCommit?.commit?.author?.name }}
      </h3>
      <p id="commit-details-email" class="mt-1 max-w-2xl text-sm text-gray-300">
        {{ selectedCommit?.commit?.author?.email }}
      </p>
      <p id="commit-details-date" class="mt-1 max-w-2xl text-sm text-gray-300">
        {{ selectedCommit?.commit?.committer?.date | date }}
      </p>
    </div>

    <!-- COMMIT INFO -->
    <div class="border-t border-gray-200">
      <dl>
        <!-- SHA -->
        <div
          class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b border-l border-r border-gray-800"
        >
          <dt class="text-sm font-medium text-gray-500">SHA</dt>
          <dd
            id="commit-details-sha"
            class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0 overflow-hidden overflow-ellipsis"
            [title]="selectedCommit?.sha"
          >
            {{ selectedCommit?.sha }}
          </dd>
        </div>

        <!-- MESSAGE -->
        <div
          class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b border-l border-r border-gray-800"
        >
          <dt class="text-sm font-medium text-gray-500">Message</dt>
          <dd
            id="commit-details-message"
            class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0 overflow-hidden overflow-ellipsis whitespace-pre-wrap"
            [title]="selectedCommit?.commit?.message"
          >
            {{ selectedCommit?.commit?.message }}
          </dd>
        </div>

        <!-- URL -->
        <div
          class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b border-l border-r rounded-bl-lg rounded-br-lg border-gray-800"
        >
          <dt class="text-sm font-medium text-gray-500">URL</dt>
          <dd
            id="commit-details-url"
            class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0 overflow-hidden overflow-ellipsis"
            [title]="selectedCommit?.commit?.url"
          >
            {{ selectedCommit?.commit?.url }}
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>
