<li class="m-1 flex overflow-hidden">
  <div
    id="commit-list-item-date"
    class="p-2 bg-gray-800 text-white border border-gray-800 rounded-tl rounded-bl"
    [title]="commit.commit.committer.date"
  >
    {{ commit.commit.committer.date | date }}
  </div>
  <div
    id="commit-list-item-message"
    class="p-2 flex-1 border border-gray-800 whitespace-pre-wrap"
  >
    {{ commit.commit.message }}
  </div>
  <div
    id="commit-list-item-icon"
    class="p-2 flex justify-center items-center text-pink-600 border-r border-t border-b border-gray-800 rounded-tr rounded-br cursor-pointer"
    title="Expand commit"
    (click)="handleExpandCommitClick()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"
      />
    </svg>
  </div>
</li>
